<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <appSettings>

      <add key="sqlconnection" value="Data Source=.;Initial Catalog=ParkingSystem;Integrated Security=True"/>

    </appSettings>
    
    <!--
     <add name="configsql"
         connectionString="Data Source=.;Initial Catalog=ParkingSystem;Integrated Security=True"
          providerName="System.Data.SqlClient" 
         />    
    -->
   
  </connectionStrings>
</configuration>